body {
  align-content: center;
  background-image: url(images/dirt.jpg);
  background-repeat: repeat;
  text-align: center;
  color: aliceblue;
}

#container{
  text-align: center;
}

#gameCanvas {
  background-image: url("images/grassTrim.png");
  background-repeat: no-repeat;
  display: inline;
  margin-left: 5em;
}

h2 {
  margin-top: 3em;
}